.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table.availCell {
    
}

button.event{
    border-color: black;
    border-style: solid;
    border-width: 5px;
}

button.availEvent {
    background: lightgreen;
    border-color: green;
}