.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.availCell:hover{
    background: lightgreen;
}

button.event:hover{
    background: lightgreen;
}

button.availEvent {
    background: lightgreen;
    border-color: green;
}

.accordion {
    --bs-accordion-bg: #495057;
    --bs-accordion-btn-color: #0c63e4;
    --bs-accordion-btn-bg: #e7f1ff;
}