.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.calCell.avail{
    border-color: gold;
    border-width: 2px;
}

/* .calCell.avail:hover{
    background: lightgreen;
} */

.calCell:hover{
    background: gold;
    cursor: pointer;
}

button.availEvent {
    background: lightgreen;
    border-color: green;
}

.accordion {
    --bs-accordion-bg: white;
    --bs-accordion-btn-bg: #e7f1ff;
    --bs-accordion-border-color: black;
    --bs-accordion-active-bg: white;
    --bs-accordion-active-color: black;
}

.eventCalendarText {
    display: flex;
    justify-content: space-between;
}

.btn-new-event {
    background-color: white;
}

.btn-new-event:hover {
    background-color: white;
    transform: scale(1.05);
}

.eventCalLegend {
    background-color: gray;
    color: black;
    border-radius: 5px;
}

td.indivAssigned{
    background: lightgreen;
    border-color: green;
}

button.img-btn{
    border-width: 0px;
    background: none;
    color: blue;
}

.hoverTable tr:hover td{
    background-color: lightgreen;
    color: black;
}

.courseList{
    background-color: #DEE2E6;
    padding: 0%;
    margin: 0px 25px 0px 0px;
}

.courseListCourseBtn{
    background-color: #0d6efd;
    color: white;
    margin: 0px;
    border: none;
    height: 30px;
}

.courseListNewBtn{
    color: #343A40;
    background-color: white;
    border: none;
    height: 30px;
}

h2.courseListTitle{
    text-align: center;
}

.courseListBody{
    display: flex;
    flex-direction: column;
}

.courseListTitle{
    margin: 25px 20px;
}

html, body{
    height: 93%;
    width: 100%;
}

.courseListContainer{
    margin: 25px 10px;
    width: 100%;
}

.vh-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.checklist-horizontal{
    display: flex;
    flex-direction: row;
}

.form-check{
    margin: 0px 5px;
}

button.btn-events{
    width: 100%;
    height: 70px;
}

.eventBtnHeaderFull{
    background: #80e55040;
    padding: 8px;
}

.eventBtnHeaderPending{
    background: #ffc10740;
    padding: 8px;
}

.eventBtnHeaderInvalid{
    background: #ec262640;
    padding: 8px;
}

button.event{
    padding: 0px;
}

.eventBtnBody{
    padding: 0px 3px;
}

button.active-course {
    color: yellow;
    font-weight: bold;
}

div.nav-style{
    display: flex;
    flex-direction: row;
}

a.secondary-bar-item{
    padding: 8px;
}

.calCell.heat0{
    background: hsl(208, 100%, 100%)
}

.calCell.heat1{
    background: hsl(208, 100%, 91%)
}

.calCell.heat2{
    background: hsl(208, 100%, 82%)
}

.calCell.heat3{
    background: hsl(208, 100%, 73%)
}

.calCell.heat4{
    background: hsl(208, 100%, 64%)
}

.calCell.heat5{
    background: hsl(208, 100%, 58%)
}

.calCell.heat6{
    background: hsl(208, 100%, 49%)
}

.calCell.heat7{
    background: hsl(208, 100%, 40%)
}

.calCell.heat8{
    background: hsl(208, 100%, 31%)
}

.calCell.heat9{
    background: hsl(208, 100%, 22%)
}

.calCell.heat10{
    background: hsl(208, 100%, 11%)
}

.calCell.heat11{
    background: hsl(208, 100%, 0%)
}